/* challenge 2 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-family: sans-serif;
}

body {
    background-image:  linear-gradient(rgba(0,0,0, .6),rgba(0,0,0, .6)), url(../images/bck.webp);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;

}

.user-img {
    width: 5rem;
    height: 5rem;
    margin-left: 35%;
}

.img {
    width: 100%;
    height: 100%;
    transform: translateY(-4rem);
    border-radius: 50%;
}

.form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20rem;
    padding: 2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .6);
}


.error {
    color: red;
    font-size: 14px;
    transform: translateY(-.3rem);
    text-align: justify;

    display: none;
}

.sign-up {
    text-align: center;
    margin-bottom: 1rem;
    color: crimson;
    text-transform: uppercase;
}

.input {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    background-color: #d4d8db;
    border: none;
    outline: none;
    border-radius: .2rem;
}

.submit-btn {
    margin-top: 1rem;
    background-color: crimson;
    outline: none;
    border: none;
    padding: .5rem 1.5rem;
    color: #fff;
    font-weight: bolder;
    text-transform: capitalize;
    border-radius: .3rem;
    margin-bottom: 2rem;
}